* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_color {
  background-color: rgb(224, 224, 224);
  min-height: 100vh;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
}

.contain .info {
  margin: 40px 0;
}

.contain .info .company {
  text-transform: uppercase;
}

.contain .info th {
  padding: 10px 5px;
}

.contain .info td {
  text-align: center;
}

.train_route {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.search {
  display: flex;
  margin: 0 auto;
}

.main_contain {
  position: relative;
}

.main_contain .go_up {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.main_contain .go_up a {
  font-weight: 700;
  font-size: 40px;
  color: rgb(100, 97, 97);
  padding: 10px;
}

